apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: test-db-password-k8s
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: gcp-store
  target:
    name: db-password-secret # The name of the resulting K8s Secret
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: test-db-password # Matches your GCP Secret name
