## DAY -03

# ------------------------------ ------------------------------ ------------------------------
#this file is for to install & continuously manage the ingress-nginx controller in the K8 cluster using argocd..
# THIS IS CHILD argo cd application whose only job is install ingress-nginx controller, keep it in sync with git repo
# recreate it if someone breaks it
# ------------------------------ ------------------------------ ------------------------------

## an argo cd application object is k8 resource that tells Argo CD what to deploy, from where , to where and how to keep it sync

# the api version is used here the argoapi cause , as this is creating argocd application object, and we are telling argo cd to install
# ingress for me so need to use this api
# if you are not installing with the argocd you can use as apiVersion: networking.k8s.io/v1 & kind: Ingress this is the actual way ok
apiVersion: argoproj.io/v1alpha1
kind: Application

# and cmg to metadata, as argo cd manges the applicatin, the application object (metadata + spec ) is stored in the argocd namespace
# i am using argocd to install nginx we should have object should be stored in argocd namespace like in the below of metadata
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"

  # finalizer helps to make sure delete everything when we delete the application
  # the case is as we are doing the GitOps, we action is performed like file add, file remove, file uninstall,
  # lets think of you delete the application, the k8 waits here and argo cd deletes the pods of that application, of its
  # services, of its config maps, then later k8 delete the application...

  # if there is no finalizer, just in case, you delete the application, k8 deletes it immediately and ingress-nginx pods stay forver as this finalizer is for the
  # nginx..
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  project: default
  source:
    chart: ingress-nginx # this is the chart name
    repoURL: https://kubernetes.github.io/ingress-nginx # this if helm repo where does hte chart lives
    targetRevision: 4.10.0 # this is helm chart version

    # this is rlease name like a name helm defined inside the cluster
    # this relase name is used to perform upgrades, rollbacks
    helm:
      releaseName: ingress-nginx
      values: |
        controller:
          service:
            type: ClusterIP
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

      #choose this namespace as true cause, if the namespace doesn't exit, it creates before deploying anything
      # or if u don;t need this option u should create it a way before deploying the ingress...
    syncOptions:
      - CreateNamespace=true
